/* Importing Different CSS files */

@import "./abstracts/variables.css";
@import "./abstracts//annimations.css";
@import "./abstracts/utils.css";

@import "./base/base.css";
@import "./base/typography.css";
@import "./base//button.css";

@import "./components/hero.css";
@import "./components/about.css";

@import "./components/process.css";
