
p{
  color: var(--color-grey-dark);
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 2px;
}


.text--orange {
  color: var(--color-primary);
}

.text {
  font-size: 5rem;
  font-weight: 700;
  line-height: 5.8rem;
}

.text--grey {
  color: var(--color-grey);
}



/* ******************************************************************* */

.text__small {
position: relative;
font-size: 1.5rem;
color: var(--color-grey);
text-transform: capitalize;
letter-spacing: 1.4px;
font-weight: 400;
}
.text__box {
  font-size: 2.5rem;
  color: var(--color-primary);
}

