#about-us {
  margin: 15rem 5rem;
}

.line {
  width: 15rem;
  height: 2px;
  background-image: linear-gradient(
    to right,
    var(--color-grey) 0%,
    var(--color-grey) 26%,
    var(--color-white) 26%,
    var(--color-white) 40%,
    var(--color-primary) 40%,
    var(--color-primary) 100%
  );
}
