* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*  fonts
 font-family: 'Heebo', sans-serif;
font-family: 'Raleway', sans-serif;*/
#header {
  padding: 2.8rem 3.7rem;
  background-image: linear-gradient(to right,
      var(--color-grey) 0%,
      var(--color-grey) 10%,
      var(--color-white) 10%,
      var(--color-white) 60%,
      var(--color-primary) 60%,
      var(--color-primary) 100%);
  height: 110vh;
  padding-top: 0;
}

.header__hero {
  float: left;
  position: absolute;
  text-align: left;
  padding: 0;

}

.header__img2 {
  float: right;
  text-align: right;
  position: relative;
  padding: 0;
}

.header__hero-txt {
  font-family: 'Heebo', sans-serif;
  font-size: 7rem;
  font-weight: 700;
  padding-left: 5rem;
  position: relative;
  line-height: 9.2rem;
  padding-top: 0;
  z-index: 2;
}

.header__hero-orange {
  color: var(--color-primary);
}

.header__hero-p{

  color: #4b4b4ba6;
  font-size: 2rem;
  width: 65rem;
  z-index: 2;
  left: 7.2rem;
}
.header__hero-pp{
  padding-left: 10.5rem;
  z-index: 2;

}
.header__hero-img{

}
.header__hero-img1{
  height: 30rem;
  z-index: 100;
  padding: 2.5%;
}
.header__img2{
  z-index: 100;
  height: 64.5rem;
}
.header__hero-img2{
  height: 58rem;
  z-index: 100;
  padding-right: 15rem;
}

.header__hero-btn{
  text-decoration: none;
  width: 22rem;
  height: 5rem;
  background-color: var(--color-primary);
  border-color: white;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}
.header__hero-button{
  padding: 2rem;
  padding-left: 10.5rem;

}
.vl {
  border-left: .2rem solid black;
  height: 75vh;
  position: absolute;
  right: 5%;
  margin-left: -3px;
  top: 20%;
}
/* .header__hero-watermark{
  position: relative;
  z-index: 1;
  font-size: 10rem;
  color: grey;
  font-family: 'Kumar One Outline', cursive;
} */
